.btn-plus{
    background-color: black;
    color: white;
    height: 40px;
    width: 40px;
    font-size: 25pt;
}

.btn-minus{
    background-color: black;
    color: white;
    height: 40px;
    width: 40px;
    font-size: 25pt;
}