.navbar{
    background-color: #333;
    color: white;
    padding: 1rem;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.navbar-nav{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-weight: bold;
}