.navbar{
    background-color: orange;
    color: white;
    padding: 1rem;
}
.navbar-container{
   /* display: inline-flex;
    justify-content: space-between;
    align-items: left;
    max-width: 120px;
    margin: 0 auto;*/
    color: white
}
.navbar-nav{
    list-style: none;
    display: flex;
    gap: 1rem;
    color: white;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-weight: bold;
}